{% extends 'PasswordReset/base.html' %}
{% load static %}

{% block title %}
<title>DI | Password Reset Page</title>
{% endblock %}

{% block body %}
<div class="text-center" style="background-color: black; font-size: 3rem; color: white;">DI Support</div>
<div class="nav" style="background-color: rgb(26, 26, 26); padding: 6px; color: white;">HOME > <small
		class="text-muted">Password Reset</small></div>
<br>

<div class="container">
	<p>Forgotten your password of DI-Acount? Enter your email address below that you entered when you sign up for the
		account,
		and We’ll email instructions for setting a new password.</p>

	<form method="post">

		{% csrf_token %}
		{{form}}
		<br><br>
		<input type="Submit" name="Send email">

	</form>
</div>
{% endblock %}