{% extends 'PasswordReset/base.html' %}
{% load static %}
{% block title %}
<title>DI | Password Reset Sent</title>
{% endblock %}

		{% block body %}

		<div  class="text-center" style="background-color: black; font-size: 3rem; color: white;">DI Support</div>
		<div class="nav" style="background-color: rgb(26, 26, 26); padding: 6px; color: white;">HOME>Password Reset><small class="text-muted">Password Reset Sent</small></div>
        <br>

        <div class="container">
            <h3>Password reset sent</h3>


            <p>
                We’ve emailed you instructions for setting your password, If an account exists with the email You entered.You should receive them shortly
            </p>
            
            <p>If You don’t see an email, in Inbox section,vheck your spam folder.Please make sure you’ve entered the address you registered with.Make Sure The email is registered.</p>
            
		</div>
		
		
{% endblock %}

