{% extends 'PasswordReset/base.html' %}
{% load static %}
	{% block body %}
	<div class="text-center" style="background-color: black; font-size: 3rem; color: white;">DI Support</div>
	<div class="nav" style="background-color: rgb(26, 26, 26);padding: 6px; color: white;">HOME > Password Reset >
		Password Reset Sent > Password Reset Form ><small class="text-muted">Password Reset Done</small></div>
	<br>

	<div class="container">


		<h3>Password reset complete</h3>
         <p>Dear Sir/Madam,</p>
		<p>Your password has been set. You may nowgo ahead and log in .</p>
		<button class="btn btn-primary btn-sm"> <a style="color: white; text-decoration: none;"
				href="{% url 'login' %}">Log in</a></button>

	</div>
	{% endblock %}
