{% extends 'PasswordReset/base.html' %}
{% load static %}
{% block title %}
<title>DI | Password Reset Form</title>
{% endblock %}

{% block body %}
<div class="text-center" style="background-color: black; font-size: 3rem; color: white;">DI Support</div>
<div class="nav" style="background-color: rgb(26, 26, 26); padding: 6px; color: white;">HOME > Password Reset > Password
	Reset Sent > <small class="text-muted">Password Reset Form</small></div>
<br>

<div class="container">
	<h3>Enter new password</h3>

	<form method="post">

		{% csrf_token %}
		{{form.as_p}}
		<input type="Submit" value="Update your Password" name="Update Password">

	</form>
</div>


{% endblock %}